/* Small device: upto 576 px 
Medium Device: 576px to 992 px 
Large Device: above 993 px  */

/* Small device: upto 576 px */
@media screen and (max-width: 576px) {
  .navbar {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .navbar-btn {
    display: none;
  }
  .ham-burgeer {
    display: block;
  }
  .banner-section {
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
  }
  .banner-title {
    font-size: 3rem;
    margin-top: 50px;
  }
  #banner-btn {
    margin-right: 20px;
  }
  .tutorial {
    width: 180px;
    top: 45%;
    left: 0%;
  }
  .tutorial-1 {
    width: 150px;
    top: 10%;
    left: 60%;
  }
  #circle {
    display: none;
  }

  .habit-title {
    font-size: 2rem;
    font-weight: 900;
  }
  .habit-images {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .run-section {
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    padding: 30px;
  }
  .run-section-title {
    font-size: 2.3rem;
  }
  #run-section-btn {
    font-size: 0.8rem;
    width: 100%;
    margin-bottom: 20px;
  }
  
}
