@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: rgb(28, 27, 27);
}
body {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
}

/* Shared styles */
.display-flex {
  display: flex;
}
.primary-btn1 {
  border: none;
  align-items: center;
  padding: 8px 20px;
  border-radius: 50px;
  background-color: rgb(230, 83, 60);
  /* font style */
  font-size: 1.05rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.primary-btn2 {
  border: none;
  align-items: center;
  padding: 8px 20px;
  /* border: 1px solid rgba(245, 245, 245, 0.331); */
  border-radius: 50px;
  background-color: none;
  /* font style */
  font-size: 1.05rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

/* Navbar styles */

.navbar {
  width: 100%;
  height: auto;
  justify-content: space-between;
  margin-bottom: 30px;
}

.brand-name {
  color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 2.05rem;
  font-weight: 800;
}
.navbar-btn {
  border: 1px solid rgba(245, 245, 245, 0.261);
  border-radius: 50px;
  padding: 3px;
}
.navbar-btn button {
  margin-right: 20px;
}
/* This is hamburger style */
.ham-burgeer {
  color: rgb(255, 255, 255);
  font-size: 2.05rem;
  font-weight: 600;
  display: none;
}
