@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+CU:wght@100..400&display=swap");

.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.playwrite-cu-font {
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background-color: rgb(28, 27, 27); */
  background: rgb(20, 20, 20);
}
body {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  color: rgb(255, 255, 255);
}

/* Shared styles */
.display-flex {
  display: flex;
}
.primary-btn1 {
  border: none;
  align-items: center;
  padding: 8px 20px;
  border-radius: 50px;
  background-color: rgb(230, 83, 60);
  /* font style */
  font-size: 1.05rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.primary-btn2 {
  border: none;
  align-items: center;
  padding: 10px 20px;
  /* border: 1px solid rgba(245, 245, 245, 0.331); */
  border-radius: 50px;
  background-color: none;
  /* font style */
  font-size: 1.05rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.primary-btn2-border {
  border: 1px solid rgba(245, 245, 245, 0.737);
}

/* Navbar styles */
.navbar {
  width: 100%;
  height: auto;
  justify-content: space-between;
  margin-bottom: 30px;
}
.brand-name {
  color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 2.05rem;
  font-weight: 800;
}
.navbar-btn {
  border: 1px solid rgba(245, 245, 245, 0.261);
  border-radius: 50px;
  padding: 3px;
}
.navbar-btn button {
  margin-right: 20px;
}
/* This is hamburger style */
.ham-burgeer {
  color: rgb(255, 255, 255);
  font-size: 2.05rem;
  font-weight: 600;
  display: none;
}

/* This is Banner style */

.banner-section {
  align-items: center;
  justify-content: space-between;
  background-color: linear-gradient(
    90deg,
    rgb(90, 89, 89),
    rgba(88, 81, 81, 0.087) 100%
  );
}
.banner-title {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 20px;
}
.banner-subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 20px;
}
#banner-btn {
  margin-right: 40px;
}
.banner-images {
  position: relative;
}

.tutorial {
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 90px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  background-color: rgba(48, 48, 48, 0.54);
  position: absolute;
  top: 70%;
  left: -40%;
}
.tutorial-1 {
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 90px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  background-color: rgba(48, 48, 48, 0.54);
  position: absolute;
  top: 28%;
  left: 70%;
}
.circle {
  width: 40px;
  height: 40px;
  background-color: rgb(230, 83, 60);
  border-radius: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.tutorial-text p {
  background-color: rgba(48, 48, 48, 0.54);
}
.fa-solid {
  background-color: rgba(48, 48, 48, 0);
}
.txt-350 {
  font-size: 1.3rem;
  font-weight: 900;
}
.video-tutorial {
  color: rgba(239, 237, 232, 0.65);
  font-size: 0.8rem;
  font-weight: 400;
}

/* Change Your Habits style start */
.habit-section {
  margin: 100px 0;
}
.habit-text {
  text-align: center;
  margin-bottom: 50px;
}
.habit-title {
  font-size: 2.7rem;
  font-weight: 900;
}
.habit-subtitle {
  font-size: 0.9rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.habit-images {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.habit-img {
  border-radius: 50%;
  margin-bottom: 20px;
}
.habit-img-title {
  font-size: 1.2rem;
  font-weight: 600;
}
.habit-img-subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
}

/* Run section style */
.run-section {
  border-radius: 18px;
  background-color: rgb(34, 34, 34) !important;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 20px 50px;
  border-radius: 20px;
  margin-bottom: 50px;
}
.run-section-text,
.run-section-img {
  background-color: rgb(34, 34, 34);
}
.run-section-title {
  font-size: 2.8rem;
  font-weight: 900;
  background-color: rgb(34, 34, 34);
  margin-bottom: 14px;
}
.run-section-subtitle {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgb(34, 34, 34);
  margin-bottom: 30px;
}
#run-section-btn {
  font-size: 0.8rem;
  padding: 10px 50px;
}
.run-img {
  border-radius: 20px;
  width: 100%;
}
/* Trainings and Exercises styles */
.training-text {
  margin-bottom: 50px;
}
.training-title {
  font-size: 2.8rem;
  font-weight: 900;
}
.training-subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
}
.training-row1 {
  max-width: 1000px;
  height: auto;
  display: grid;
  grid-template-columns: 1.5fr 3fr 1.5fr;
  overflow-x: hidden;
  overflow-y: hidden;
}
.training-row1 img {
  width: 100%;
  height: 210px;
}
.training-img1 {
  opacity: 0.5;
}

.row1-img1 {
  position: relative;
  background-color: rgba(6, 255, 210, 0.5);
}
.row1-img2 {
  background-color: rgba(255, 0, 0, 0.3);
}
.row1-img3 {
  background-color: rgba(0, 0, 0, 0.5);
}
.row1-img1-text {
  position: absolute;
  top: 70%;
  background-color: rgba(30, 31, 30, 0.5);
  opacity: 0.8;
}

.training-row2 {
  max-width: 1000px;
  height: auto;
  display: grid;
  grid-template-columns: 3fr 1.5fr 1.5fr;
  overflow-x: hidden;
  overflow-y: hidden;
}
.training-row2 img {
  width: 100%;
  height: 210px;
}

.row2-img1 {
  background-color: rgba(0, 0, 0, 0.5);
}
.row2-img2 {
  background-color: rgba(66, 255, 0, 0.3);
}
.row2-img3 {
  background-color: rgba(0, 71, 255, 0.3);
}

/* BMI Calculator styles */
.bmi-calculator {
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 50px 0;
}
.bmi-calculator-text {
}
.bmi-calculator-title {
  font-size: 2.8rem;
  font-weight: 900;
}
.bmi-calculator-subtitle {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
